/*
 * Grid Special
 */

.container {
	position: relative;
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box; 
}

.container.fluid {
	max-width: 100%;
}

.row { font-size: 0; }

.column,
.columns {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	box-sizing: border-box;
	font-size: 1.5rem;
}


.small-0  { width: 0%; }
.small-1  { width: 8.33333%; }
.small-2  { width: 16.66667%; }
.small-3  { width: 25%; }
.small-4  { width: 33.33333%; }
.small-5  { width: 41.66667%; }
.small-6  { width: 50%; }
.small-7  { width: 58.33333%; }
.small-8  { width: 66.66667%; }
.small-9  { width: 75%; }
.small-10 { width: 83.33333%; }
.small-11 { width: 91.66667%; }
.small-12 { width: 100%; }

.small-offset-0  { margin-left: 0%; }
.small-offset-1  { margin-left: 8.33333%; }
.small-offset-2  { margin-left: 16.66667%; }
.small-offset-3  { margin-left: 25%; }
.small-offset-4  { margin-left: 33.33333%; }
.small-offset-5  { margin-left: 41.66667%; }
.small-offset-6  { margin-left: 50%; }
.small-offset-7  { margin-left: 58.33333%; }
.small-offset-8  { margin-left: 66.66667%; }
.small-offset-9  { margin-left: 75%; }
.small-offset-10 { margin-left: 83.33333%; }
.small-offset-11 { margin-left: 91.66667%; }

@media ( min-width: 640px ) {
	.container {
		max-width: 600px;
	}

	.medium-0  { width: 0%; }
	.medium-1  { width: 8.33333%; }
	.medium-2  { width: 16.66667%; }
	.medium-3  { width: 25%; }
	.medium-4  { width: 33.33333%; }
	.medium-5  { width: 41.66667%; }
	.medium-6  { width: 50%; }
	.medium-7  { width: 58.33333%; }
	.medium-8  { width: 66.66667%; }
	.medium-9  { width: 75%; }
	.medium-10 { width: 83.33333%; }
	.medium-11 { width: 91.66667%; }
	.medium-12 { width: 100%; }

	.medium-offset-0  { margin-left: 0%; }
	.medium-offset-1  { margin-left: 8.33333%; }
	.medium-offset-2  { margin-left: 16.66667%; }
	.medium-offset-3  { margin-left: 25%; }
	.medium-offset-4  { margin-left: 33.33333%; }
	.medium-offset-5  { margin-left: 41.66667%; }
	.medium-offset-6  { margin-left: 50%; }
	.medium-offset-7  { margin-left: 58.33333%; }
	.medium-offset-8  { margin-left: 66.66667%; }
	.medium-offset-9  { margin-left: 75%; }
	.medium-offset-10 { margin-left: 83.33333%; }
	.medium-offset-11 { margin-left: 91.66667%; }
}

@media ( min-width: 1040px ) {
	.container {
		max-width: 1000px;
	}

	.large-0  { width: 0%; }
	.large-1  { width: 8.33333%; }
	.large-2  { width: 16.66667%; }
	.large-3  { width: 25%; }
	.large-4  { width: 33.33333%; }
	.large-5  { width: 41.66667%; }
	.large-6  { width: 50%; }
	.large-7  { width: 58.33333%; }
	.large-8  { width: 66.66667%; }
	.large-9  { width: 75%; }
	.large-10 { width: 83.33333%; }
	.large-11 { width: 91.66667%; }
	.large-12 { width: 100%; }

	.large-offset-0  { margin-left: 0%; }
	.large-offset-1  { margin-left: 8.33333%; }
	.large-offset-2  { margin-left: 16.66667%; }
	.large-offset-3  { margin-left: 25%; }
	.large-offset-4  { margin-left: 33.33333%; }
	.large-offset-5  { margin-left: 41.66667%; }
	.large-offset-6  { margin-left: 50%; }
	.large-offset-7  { margin-left: 58.33333%; }
	.large-offset-8  { margin-left: 66.66667%; }
	.large-offset-9  { margin-left: 75%; }
	.large-offset-10 { margin-left: 83.33333%; }
	.large-offset-11 { margin-left: 91.66667%; }
}

@media ( min-width: 1380px ) {
	.container {
		max-width: 1340px;
	}

	.xlarge-0  { width: 0%; }
	.xlarge-1  { width: 8.33333%; }
	.xlarge-2  { width: 16.66667%; }
	.xlarge-3  { width: 25%; }
	.xlarge-4  { width: 33.33333%; }
	.xlarge-5  { width: 41.66667%; }
	.xlarge-6  { width: 50%; }
	.xlarge-7  { width: 58.33333%; }
	.xlarge-8  { width: 66.66667%; }
	.xlarge-9  { width: 75%; }
	.xlarge-10 { width: 83.33333%; }
	.xlarge-11 { width: 91.66667%; }
	.xlarge-12 { width: 100%; }

	.xlarge-offset-0  { margin-left: 0%; }
	.xlarge-offset-1  { margin-left: 8.33333%; }
	.xlarge-offset-2  { margin-left: 16.66667%; }
	.xlarge-offset-3  { margin-left: 25%; }
	.xlarge-offset-4  { margin-left: 33.33333%; }
	.xlarge-offset-5  { margin-left: 41.66667%; }
	.xlarge-offset-6  { margin-left: 50%; }
	.xlarge-offset-7  { margin-left: 58.33333%; }
	.xlarge-offset-8  { margin-left: 66.66667%; }
	.xlarge-offset-9  { margin-left: 75%; }
	.xlarge-offset-10 { margin-left: 83.33333%; }
	.xlarge-offset-11 { margin-left: 91.66667%; }
}

/* Self Clearing Goodness */
.container:after,
.row:after {
	content: "";
	display: table; clear: both; }


















