
# the .DS_Store files everywhere
.DS_Store

# the configuration directory
/configuration

# the media directory
/media

# the favicon directory
/favicon

# the data directory
/data

# the logs directory
/logs

# the account directory
/account
