
<IfModule mod_rewrite.c>

RewriteEngine On

# RewriteRule .? https://example.com/?dr=%{DOCUMENT_ROOT}&ru=%{REQUEST_URI}

# if the URI maps to an existing file on the server, just return it
RewriteCond "%{DOCUMENT_ROOT}%{REQUEST_URI}" -f
RewriteRule .? "-" [QSA,L]

# Pricing Engine | Customer
RewriteCond "%{DOCUMENT_ROOT}%{REQUEST_URI}" !-f
RewriteRule ^/?pricing/?$ index.php?_route=pricing [QSA,L,NC]

# Pricing Engine | Customer – Individual Unit
RewriteCond "%{DOCUMENT_ROOT}%{REQUEST_URI}" !-f
RewriteRule ^/?pricing/([^/]+)$ index.php?_route=pricing-individual&_unit=$1 [QSA,L,NC]

# Pricing Engine | Quote
RewriteCond "%{DOCUMENT_ROOT}%{REQUEST_URI}" !-f
RewriteRule ^/?quote/?$ index.php?_route=quote [QSA,L,NC]

# Pricing Engine | Print Template
RewriteCond "%{DOCUMENT_ROOT}%{REQUEST_URI}" !-f
RewriteRule ^/?print-pricing-sheet/?$ index.php?_route=print-pricing-sheet [QSA,L,NC]

# The Login page that delegates to the Omega API
RewriteCond "%{DOCUMENT_ROOT}%{REQUEST_URI}" !-f
RewriteRule ^/?login$ https://%{HTTP_HOST}/omega/login?HTTP_HOST=%{HTTP_HOST}&REQUEST_URI=%{REQUEST_URI} [P]
# RewriteRule ^/?login$ https://%{HTTP_HOST}/omega/login [R=301,QSA,L,NC]

# The Login callback route that delegates to the Omega API
RewriteCond "%{DOCUMENT_ROOT}%{REQUEST_URI}" !-f
RewriteRule ^/?login/callback/google$ https://%{HTTP_HOST}/omega/login/callback/google?HTTP_HOST=%{HTTP_HOST}&REQUEST_URI=%{REQUEST_URI} [QSA,P]

# The Logout route that logs a user out
RewriteCond "%{DOCUMENT_ROOT}%{REQUEST_URI}" !-f
RewriteRule ^/?logout$ https://%{HTTP_HOST}/omega/logout?HTTP_HOST=%{HTTP_HOST}&REQUEST_URI=%{REQUEST_URI} [P]

# The Registration page that delegates to the Omega API ( disabled by default )
# RewriteCond "%{DOCUMENT_ROOT}%{REQUEST_URI}" !-f
# RewriteRule ^/?register$ https://%{HTTP_HOST}/omega/register?HTTP_HOST=%{HTTP_HOST}&REQUEST_URI=%{REQUEST_URI} [P]

# The Registration callback route that delegates to the Omega API
RewriteCond "%{DOCUMENT_ROOT}%{REQUEST_URI}" !-f
RewriteRule ^/?register/callback/google$ https://%{HTTP_HOST}/omega/register/callback/google?HTTP_HOST=%{HTTP_HOST}&REQUEST_URI=%{REQUEST_URI} [QSA,P]

# An empty page
RewriteCond "%{DOCUMENT_ROOT}%{REQUEST_URI}" !-f
RewriteRule ((^/?)|/)blank/(.*)$ pages/virtually-empty.php [QSA,L]

# A page for Tracking and Analytics
RewriteCond "%{DOCUMENT_ROOT}%{REQUEST_URI}" !-f
RewriteRule ((^/?)|/)trac/(.*)$ pages/virtually-empty.php [QSA,L]

# the catch-all "else" block
# forward the request to index.php; it will do the heavy-lifting
RewriteCond "%{DOCUMENT_ROOT}%{REQUEST_URI}" !-f
RewriteRule .? index.php [QSA,L]

</IfModule>
