
/*
 *
 * Phone Trap
 *
 */

.page-phone-trap {
	position: absolute;
	z-index: 4;
	margin: 1rem 0 0;
	height: 50.2rem;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 20px;
	border-radius: calc(var(--roundness)*1);
	box-shadow: none;
	overflow: hidden;
}

.page-phone-trap:before {
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	width: 100px;
	height: 100px;
	/*background: var(--moz-gradient-yellow);*/
	/*background: var(--webkit-gradient-yellow);*/
	/*background: var(--gradient-yellow);*/
	background: linear-gradient(to right, var(--off-blue), var(--blue));
	border-radius: 100%;
	opacity: 0;
	transform: scale(0);
	transition: all .3s ease-out;
}

.page-phone-trap .trap-content {
	position: relative;
	z-index: 3;
	opacity: 0;
	transition: opacity .3s ease-out;
}

.page-phone-trap.show {
	visibility: visible;
	pointer-events: auto;
	box-shadow: 0px 0px 6px 2px rgba(45, 67, 81, .25);
	transition: box-shadow .3s .3s ease-out;
}

.page-phone-trap * {
	pointer-events: auto;
}

.page-phone-trap.show:before {
	opacity: 1;
	transform: scale(12);
	transition: all .3s ease-out;
}

.page-phone-trap.show .trap-content {
	position: relative;
	opacity: 1;
	transition: opacity .3s .3s ease-out;
	font-size: 0;
	line-height: 0;
}

.page-phone-trap .trap-content .title {
	margin-bottom: 20px;
}


.page-phone-trap .trap-content .phone {
	position: relative;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.page-phone-trap .trap-content .otp {
	position: absolute;
	z-index: 1;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	opacity: 0;
	pointer-events: none;
}

.page-phone-trap .trap-content .phone.show,
.page-phone-trap .trap-content .otp.show {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	transition: opacity .3s .3s ease-out;
}

.page-phone-trap .trap-content .phone .title,
.page-phone-trap .trap-content .otp .title {
	line-height: 20px;
	margin-bottom: 5px;
}

.page-phone-trap .trap-content .phone .invisible-select,
.page-phone-trap .trap-content .phone .visible-select {
	position: absolute;
	top: 25px;
	left: 0;
	width: 80px;
	color: var(--light);
	background-color: var(--off-dark);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.page-phone-trap .trap-content .phone .invisible-select {
	z-index: 2;
	opacity: 0;
}

.page-phone-trap .trap-content .phone .visible-select {
	text-align: left;
	z-index: 3;
	pointer-events: none;
	/*background-image: url( ../../../media/pricing/select-light.svg );*/
}

.page-phone-trap .trap-content .phone .input {
	position: relative;
	z-index: 1;
	display: inline-block;
	width: 100%;
	padding-left: 90px;
	padding-right: 70px;
}

.page-phone-trap .trap-content .phone .submit {
	position: absolute;
	top: 25px;
	right: 0;
	z-index: 4;
	width: 60px;
	color: var(--light);
	background-color: var(--off-dark);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.page-phone-trap .trap-content .otp .input {
	position: relative;
	z-index: 1;
	display: inline-block;
	width: 100%;
	padding-right: 90px;
}

.page-phone-trap .trap-content .otp .submit {
	position: absolute;
	z-index: 4;
	top: 25px;
	right: 0;
	width: 80px;
	color: var(--light);
	background-color: var(--off-dark);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.page-phone-trap .trap-content .phone .note,
.page-phone-trap .trap-content .otp .note {
	line-height: 20px;
	margin-top: 5px;
	padding: 0 2px;
}


.page-phone-trap .trap-content .phone .note .link,
.page-phone-trap .trap-content .otp .note  .link {
	cursor: pointer;
}

.page-phone-trap .trap-close {
	opacity: 0;
	pointer-events: none;
}

.page-phone-trap.show .trap-close {
	cursor: pointer;
	pointer-events: auto;
	position: absolute;
	display: block;
	z-index: 4;
	top: 20px;
	right: 20px;
	width: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 100%;
	opacity: 0.7;
	transition: opacity .3s .3s ease-out;
}

.page-phone-trap.show .trap-close:hover,
.page-phone-trap.show .trap-close:focus,
.page-phone-trap.show .trap-close:active {
	opacity: 1;
}


.page-phone-trap .trap-bg {
	opacity: 0;
	pointer-events: none;
}

.page-phone-trap.show .trap-bg {
	opacity: 1;
	pointer-events: auto;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: opacity .3s .3s ease-out;
	/*background-image: url( ../../../media/pricing/phone-trap-bg.png );*/
	background-position: right bottom;
	background-size: 280px;
	background-repeat: no-repeat;
}

@media( min-width: 640px )  {
	.page-phone-trap {
		height: 40.2rem;
	}
	.page-phone-trap.show:before {
		transform: scale(14);
	}
}

@media( min-width: 1040px ) {
	.page-phone-trap {
		height: 46.5rem;
		padding: 32px;
	}

	.page-phone-trap.show:before {
		transform: scale(18);
	}

	.page-phone-trap .trap-content .phone .invisible-select,
	.page-phone-trap .trap-content .phone .visible-select {
		width: 90px;
	}

	.page-phone-trap .trap-content .phone .input {
		padding-left: 100px;
		padding-right: 80px;
	}
	.page-phone-trap .trap-content .phone .submit {
		width: 70px;
	}
	.page-phone-trap .trap-content .otp .input {
		padding-right: 100px;
	}

	.page-phone-trap .trap-content .otp .submit {
		width: 90px;
	}

	.page-phone-trap.show .trap-close {
		top: 32px;
		right: 32px;
		width: 36px;
		line-height: 36px;
	}
}

@media( min-width: 1380px ) {
	.page-phone-trap {
		height: 41.1rem;
		padding: 40px;
	}

	.page-phone-trap.show:before {
		transform: scale(20);
	}

	.page-phone-trap .trap-content .phone .invisible-select,
	.page-phone-trap .trap-content .phone .visible-select {
		width: 100px;
	}

	.page-phone-trap .trap-content .phone .input {
		padding-left: 110px;
		padding-right: 90px;
	}
	.page-phone-trap .trap-content .phone .submit {
		width: 80px;
	}
	.page-phone-trap .trap-content .otp .input {
		padding-right: 110px;
	}

	.page-phone-trap .trap-content .otp .submit {
		width: 100px;
	}

	.page-phone-trap.show .trap-close {
		top: 40px;
		right: 40px;
		width: 42px;
		line-height: 42px;
	}
}

@media print {
	.pricing-section .unit-list { display: none; }
}
