/* -- Filter -- */

.pricing-section .unit-filter {
	position: relative;
	margin-bottom: 15px;
	z-index: 1;
	background-color: var(--light);
	border-radius: calc(var(--roundness)*2);
	overflow: hidden;
}

.pricing-section .unit-filter:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
	pointer-events: none;
	border-radius: calc(var(--roundness)*2);
	box-shadow: inset 0px 0px 8px 1px rgba(45, 67, 81, .35);
}

.pricing-section .unit-filter .type-head {
	position: relative;
	height: 120px;
	z-index: 1;
	padding: 40px 10px;
	text-align: center;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateZ(0px);
}

.pricing-section .unit-filter .type-head .type-tabs {
	display: inline-block;
	font-size: 0;
	line-height: 0;
	white-space: nowrap;
}

.pricing-section .unit-filter .type-head .type-tabs .tab-button {
	cursor: pointer;
	margin: 0px 16px;
	line-height: 1.5;
	border-bottom: solid 2px var(--dark);
	transition: font .2s ease-out;
}

.pricing-section .unit-filter .type-head .type-tabs .tab-button.selected {
	cursor: default;
	border: 0;
	line-height: 1.125;
	font-weight: var(--weight-thin);
	font-size: 2.8rem;
}

.pricing-section .unit-filter .type-content {
	position: relative;
	z-index: 2;
	margin-top: -20px;
}

.pricing-section .unit-filter .type-content .tab-group {
	display: none;
	white-space: nowrap;
	font-size: 0;
	line-height: 0;
	padding: 10px;
	padding-top: 0;
	text-align: center;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateZ(0px);
}

.pricing-section .unit-filter .type-content .tab-group.selected {
	display: block;
}

.pricing-section .unit-filter .type-content .tab-group .type-card {
	position: relative;
	cursor: pointer;
	width: 150px;
	height: 200px;
	margin: 10px;
	margin-top: 0;
	background-color: var(--light);
	border-radius: calc(var(--roundness)*1);
	overflow: hidden;
	box-shadow: 0px 2px 4px 1px rgba(45, 67, 81, .25);
}

.pricing-section .unit-filter .type-content .tab-group .type-card * {
	pointer-events: none;
}

.pricing-section .unit-filter .type-content .tab-group .type-card .title {
	margin-top: 10px;
	line-height: 1;
}

.pricing-section .unit-filter .type-content .tab-group .type-card .description {
	line-height: 1;
}

.pricing-section .unit-filter .type-content .tab-group .type-card .icon {
	display: block;
	width: 100%;
	padding-top: 100%;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	font-size: 0;
	line-height: 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	overflow: hidden;
}

.pricing-section .unit-filter .type-content .tab-group .type-card .icon:before {
	content: '';
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 100%;
	-moz-background: var(--moz-gradient-yellow);
	-webkit-background: var(--webkit-gradient-yellow);
	background: var(--gradient-yellow);
	transform: scale(0);
	transition: transform .3s ease-out;
}

.pricing-section .unit-filter .type-content .tab-group .type-card.selected .icon:before {
	transform: scale(2);
}

.pricing-section .unit-filter .type-content .tab-group .type-card .icon:after {
	content: '';
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 100%;
	background-color: var(--light);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 65%;
	background-image: url('../../../media/pricing/check.svg');
	transform: scale(0);
	opacity: 0;
	transition: transform .3s ease-out, opacity .3s ease-out;
	box-shadow: 0px 4px 12px 3px rgba(45, 67, 81, .25);
}

.pricing-section .unit-filter .type-content .tab-group .type-card.selected .icon:after {
	transform: scale(.75);
	opacity: 1;
}


@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.pricing-section .unit-filter .type-head {
		height: 140px;
		padding: 48px 16px;
	}

	.pricing-section .unit-filter .type-head .type-tabs .tab-button.selected {
		font-size: 3.4rem;
	}

	.pricing-section .unit-filter .type-content {
		margin-top: -28px;
		padding: 16px;
		padding-top: 0;
	}

	.pricing-section .unit-filter .type-content .tab-group .type-card {
		width: 210px;
		height: 280px;
		margin: 16px;
		margin-top: 0;
	}

	.pricing-section .unit-filter .type-content .tab-group .type-card .title {
		margin-top: 16px;
	}

	.pricing-section .unit-filter .type-content .tab-group .type-card .description {
		margin-top: 4px;
	}
}
@media( min-width: 1380px ) {
	.pricing-section .unit-filter .type-head {
		height: 160px;
		padding: 54px 20px;
	}

	.pricing-section .unit-filter .type-head .type-tabs .tab-button {
		margin: 0px 20px;
	}

	.pricing-section .unit-filter .type-head .type-tabs .tab-button.selected {
		font-size: 3.8rem;
	}

	.pricing-section .unit-filter .type-content {
		margin-top: -40px;
		padding: 20px;
		padding-top: 0;
	}

	.pricing-section .unit-filter .type-content .tab-group .type-card {
		width: 240px;
		height: 320px;
		margin: 20px;
		margin-top: 0;
	}
	.pricing-section .unit-filter .type-content .tab-group .type-card .title {
		margin-top: 20px;
	}
}

@media print {
	.pricing-section .unit-filter { display: none; }
}