/*
 * Landing
 */

.landing {
	position: relative;
	z-index: 1;
}

.landing .landing-bg {
	position: relative;
	z-index: 1;
}

.landing .landing-content {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 100px;
}

.landing .landing-content .logo {
	display: inline-block;
	width: 240px;
}

@media( min-width: 640px )  {
	.landing .landing-content .logo {
		width: 100px;
	}
}
@media( min-width: 1040px ) {
	.landing .landing-content .logo {
		width: 120px;
	}
}
@media( min-width: 1380px ) {
	.landing .landing-content .logo {
		width: 150px;
	}
}


@media print {
	.landing { display: none; }
}