/*
 * Pricing Section
 */

.pricing-section {
	position: relative;
	/*background-color: #D6D6D6;*/
}

.pricing-section .pricing {
	position: relative;
	z-index: 3;
	margin-top: -300px;
}

.pricing-section .loading {
	filter: blur(4px);
	opacity: .4;
}

.pricing-section .loading:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
	pointer-events: none;
	border-radius: calc(var(--roundness)*2);
	background-color: rgba(23,47,62,0.3);
	filter: grayscale(1);
	opacity: .4;
	background-image: url('../../../media/loadingstripe.gif');
}

@media( min-width: 640px )  {
	.pricing-section .pricing {
		margin-top: -270px;
	}
}
@media( min-width: 1040px ) {
	.pricing-section .pricing {
		margin-top: -420px;
	}
}
@media( min-width: 1380px ) {
	.pricing-section .pricing {
		margin-top: -480px;
	}
}
/* No negative margin offset if we're on the Individual Unit Details page */
.page-pricing-individual .pricing-section .pricing {
	margin-top: 0;
}
