
/*
 *
 * Unit Search Section
 *
 */

.section-selected-unit-filters {
	position: relative;
}
.section-selected-unit-filters .unit-filter {
	position: relative;
	display: inline-block;
	margin: 0 1rem 0 0;
	border: 1px dotted;
	border-radius: 6px;
	padding: 1rem;
	text-align: center;
}
.section-selected-unit-filters .unit-filter .remove {
	position: absolute;
	top: -7.5px;
	right: -7.5px;
	width: 15px;
	height: 15px;
	border: 1px solid grey;
	border-radius: 50%;
	cursor: pointer;
}
